<div class="spce_top">
  <h1 class="admin-header"><%= t('blogo.admin.'+@category) %></h1>
<div class="row banner_row">
  <div class="col-sm-18 inner_left_table_box">
    

    <%= link_to "New Banner", new_blogo_admin_banner_path(category: @category ) %>

    <% if @blogo_banners.present? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
           
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @blogo_banners.each do |banner| %>
          <tr>
            <td><%= banner.title %></td>
            <td><%= image_tag banner.image.url, style: " max-height: 50px;" %></td>
           
            <td><%#= link_to 'Show', blogo_banner %></td>
            <td><%= link_to 'Edit', edit_blogo_admin_banner_path(banner), class: "pure-button  button-secondary" %></td>
            <td><%= link_to 'Destroy', blogo_admin_banner_path(banner), class: 'pure-button  button-warning',method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>

  <div class="col-md-6 right_img_box">
    <%= render partial: '/blogo/admin/sidebar' %>
  </div>

</div>

</div>

 

<%#= link_to 'New Banner', new_blogo_banner_path %>
