<p>Dear User!</p>
<br /><br /><br />
<p><%=@member_name %> sent you some money</p>
<p>Amount sent:<%= @amount %><%= @currency%> </p>
<p>You have received Amount <%= @amount %><%= @currency%> </p> 
<p>You are not a user of TradeNAIRA. Please sign up to receive these funds.<a href="https://tradenaira.com/signup"></p>
<p>Thanks</p>
<p>
	Regards<br>
	<a href="https://tradenaira.com">tradenaira.com</a>
</p>