<div class="row">
	<div class="col-md-24">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="col-md-20">
					Laist of all Categories
				</div>
				<div class="col-md-4">
					<%= link_to "New", admin_new_category_path, class: "btn btn-default",
					style: "margin: -6px 0 0 0; float: right;" %>
				</div>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-hover">
					<tr>
						<td>Title</td>
						<td>Parent</td>
						<td>No of items</td>
						<td>Actions</td>
					</tr>
					<% @cats.each do |cat| %>
					<tr>
						<td><%= cat.title %></td>
						<td><%= cat.parent_category.nil? ? "-" : cat.parent_category.title    %></td>
						<td><%= cat.meta_contents.size %></td>
						<td>
							<%= link_to "Delete", admin_destroy_meta_path("category", cat.id),
						data: { confirm: "Are you sure?",  }, method: "delete" %>
						|
						<%= link_to "Edit", admin_edit_meta_path("category", cat.id)
						 %>
							
						</td>
					</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>