<ul class="nav">
	<li>
	<%= link_to "List All Articles", blogo_admin_path %>  
	 
	</li>
	<li>
	 <%= link_to "News Home Top (728X90px)", list_blogo_admin_banners_path("news_home_top") %>
	</li>
	<li>
	<%= link_to "News Home Side (300X600px)", list_blogo_admin_banners_path("news_home_side") %>
	  
	</li>
	<li>
   		<%= link_to "Article Home Top (728X90px)", 
   		list_blogo_admin_banners_path("article_home_top") %>
	
	</li>
	<li>
<%= link_to "Article Home Side (300X600px)", list_blogo_admin_banners_path("article_home_side") %>
	 
	</li>
</ul>
  