 <h1>Request Type: <%= @request_type %></h1>
 <p>Show only requets for Status: </p>
 <div class="navbar navbar-inverse" id="navbarNav">
 	<div class="row">
 		<div class="col-md-12">
		 <ul class="nav navbar-nav navbar-left">
		 	<li class="<% 'active' if @status == "" %>">
		 		<%= link_to "All", admin_escrow_money_path() %>
		 	</li>
		 	<li class="<%= 'active' if @status == "active" %> nav-item">
		 		<%= link_to t(:active), admin_escrow_money_path(status: 1) %>
		 	</li>
		 	<li class="<%= 'active' if @status == "declined" %> nav-item">
		 		<%= link_to t(:declined_by_buyer), admin_escrow_money_path(status: 3) %>
		 	</li>
		 	<li class="<%= 'active' if @status == "approved" %> nav-item">
		 		<%= link_to t(:approved_by_buyer), admin_escrow_money_path(status: 2) %>
		 	</li>
		 	<li class="<%= 'active' if @status == "approved" %> nav-item">
		 		<%= link_to t(:approved_by_buyer), admin_escrow_money_path(status: 2) %>
		 	</li>
		 </ul>
		</div>
		<div class="col-md-12 top-pagging">
			<%= paginate @escrows %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-24">
		<div class="row">
			<% @escrows.each do |es| %>
				<% remaining_days = es.remaining_days <= 0 %>
				<div class="col-md-8" id="card-iteam-<%= es.id %>">
					<div class="card <%= remaining_days && es.status == 2 ? 'attension': ''  %>" style="height: 550px; overflow-y: scroll; 
					overflow-x: hidden; ">
					  <div class="card-body">
					  	<p style="text-align: center;">#<%= es.id %></p>
					  	<div class="center" style="text-align: center;">
					  		<% if [1,2,9,10].include?(es.status.to_i) %>
						  		<% if es.is_all_paid? %>
					  				<%= link_to "Accept", 
		 							admin_manage_money_path(es.id,"approve", tn: :escrow),
		 							class: "btn btn-default", data: { method: "POST", 
		 							confirm: "Are you sure?" } %>
						  		<% end %>
						  		<%= link_to "Deny", 
	 							admin_manage_money_path(es.id,"decline", tn: :escrow),
	 								class: "btn btn-danger", data: { method: "POST",
	 								confirm: "Are you sure?" } %>	
					  		<% end %>			  		 
					  	</div>
					  	<p class="card-text"><label>Escrow status:</label> 
					  		<%= t(es.payment_status) %></p>
					    <h5 class="card-text">
					    	<label>Creation date:</label> 
					    	<%= es.created_at %>
					    </h5>
					    <h5 class="card-text">
					    	<label>Inspection period:</label>
					    	<% if es.status == "2" %>
					    	 <%= raw es.editable_option("inspection_length") %> 
					    	 <% else %>
					    	 <%= es.inspection_length %> 
					    	 <% end %>
					    </h5>

					    <h5 class="card-text">
					    	<label>Payment status:</label>
					    	 <b class="<%= 'success' if es.is_all_paid? %>">
					    	 	<%= t(es.payment_status) %></b>
					    </h5>

					    <h5 class="card-text">
					    	<label>Closing Date: </label>
					    	<b class="<%= remaining_days ? 'danger': ''  %>">
					    		<%= es.closing_date %></b>
					    </h5>

					    <p class="card-text">
					    	<label>Created by: </label>
					    		<%= es.tn_role %> 
					    </p>
					   

					    <p class="card-text">
					    	<label>Item name:</label> 
					    	<% if es.status == "2" %>
					    		<%= raw es.editable_option("item_name") %>
					    	<% else %>
					    		<%= es.item_name %>
					    	<% end %>
					    </p>
					    <p class="card-text">
					    	<label>Item Description:</label>
					    	<% if es.status == "2" %> 
					    	 	<%= raw es.editable_option("descriptions") %>
					    	<% else %>
					    		<%= es.descriptions %>
					    	<% end %>
					    </p>
					    <p class="card-text">
					    	<label>Seller email:</label>
					    	<span class="<%= 'danger' unless es.seller %>">
					    		<%= es.seller_email %>
					    	</span>
					    </p>
					    <p class="card-text">
					    	<label>Buyer email:</label> 
					    	<span class="<%= 'danger' unless es.buyer %>">
					    		<%= es.buyer_email %>
					    	</span>
					    </p>
					     
					    <% if broker = es.broker %>
					    <p class="card-text">
					    	<label>Broker email:</label> <%= broker.email %></p>
					    <% end %>
					    <p class="card-text">
					    	<label>Escrowed Amount:</label> 
					    	<b>
					    	  <%= es.tn_amount %><%= es.tn_currency.upcase if es.tn_currency  %>
					    	</b>
					    </p>
					    <p class="card-text">
					    	<label>Shipping amount:</label>
					    	<b><%= es.shipping_amount %><%= es.shipping_currency.upcase %></b>
					    </p>
					    <p class="card-text">
					    	<label>Grand Total:</label>
					    	<b>
						    	<% if es.shipping_currency == es.tn_currency %>
						    		<%= es.tn_amount+es.shipping_amount %><%= es.shipping_currency.upcase %>
						    	<% else %>
						    	<%= es.tn_amount %><%= es.tn_currency.upcase if es.tn_currency  %>
						    		+
						    	<%= es.shipping_amount %><%= es.shipping_currency.upcase %> 
						    	<% end %>
					    	</b>
						</p>

					     <% if es.tn_role == "broker" %>
							    <p class="card-text">
							    	<label>Amount payer: </label>
							    	<%= es.amount_payer %> 
							    </p>
					    <% end %>
					    
					    <p class="card-text">
					    	<label>Fee payer:</label> 
					    	<b class="up"><%= es.fee_payer %></b>
					    </p>

					    <div class="es-success" id="success-<%= es.id %>"></div>
					  	<div class="es-errors" id="errors-<%= es.id %>"></div>
					    <!-- 
					    <a class="card-link">Another link</a> -->
					  </div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row">

		</div>
	</div>
</div>
