<% currency 	= params[:currency].to_i %>
<% page 		= params[:page]  %>
<% sd 			= params[:sd] %>
<% ed 			= params[:ed] %>
<% currency_obj = Currency.find_by_id(currency) %>
<h3>Finances </h3>
<% if currency_obj || page || sd || ed %>
	<div class="row">
		<div class="col-xl-24 col-md-4">
			<%= link_to "Clear all filter", admin_finances_path, 
				class: "btn btn-success"  %>	
				<br />
				<br />
		</div>

	</div>
<% end %>
<table class="table">
	<tr>
		<th>
			<div class=" dateranges">
				<input type="text" class="dropdown-item datepicker sd"  
					placeholder="Start Date" 
					data-target="sd"
					value="<%= sd %>" 
					data-date-format="dd-mm-yyyy">	

				<input type="text" class="dropdown-item datepicker ed"  
					 placeholder="End Date" 
					 data-target="ed"
					 value="<%= ed %>" 
					data-date-format="dd-mm-yyyy">	

				<%= link_to "By Date", admin_finances_path, class: "searchbydate btn btn-success",
					data: { currency: currency, sd: sd, ed: ed, page: page  },
					onclick: "return srchFinances(this)"  %>		

			</div>

		</th>
		<th>Amount</th>
		<th>
			<div class="btn-group">
				<button type="button" 
				 class="btn btn-success ddicone dropdown-toggle" data-toggle="dropdown" 
				 aria-haspopup="true" aria-expanded="false">
				 <%= currency_obj.nil? ? "Currency" : currency_obj.code.upcase %>
  				</button>
				<ul class="dropdown-menu">
					<%= raw Currency.all.map{|c|	
						options = {page: page,currency: c.id, sd: sd, ed: ed}	
						link = admin_finances_path(options)	
						active = currency == c.id ? " active" : " ----"	
						("<li class='dropdown-item#{active}'><a href='#{link}'>#{c.code.upcase}
							</a></li>")	
						}.join(" ") 
					%>
				</ul>
			</div>
		</th>
		<th>Link</th>
		<th>Reason</th>
		<th>Income</th>
		<th>Expenses</th>
		<th>Fee</th> 
	</tr>
	<% @account_versions.each do |av| %>
		<tr>
			<td><%= av.created_at %></td>
			<td><%= av.amount %></td>
			<td><%= av.currency_text %></td>
			<td><%= av.amount %></td>
			<td><%= av.reason_text %></td>
			<td><%= av.in.nil? ? "-" : av.in > 0 ? av.in : "-" %></td>
			<td><%= av.out.nil? ? "-" : av.out > 0 ? av.out : "-"   %></td>
			<td><%= av.fee %><%= av.account.currency %></td>
		</tr>
	<% end %>
	<% if @account_versions.empty? %>
		<tr align="center">
			<td colspan="8" align="center" style="text-align: center;">
				No result found for your query, please try again with different criteria.
			</td>
			 
		</tr>
	<% end %>
</table>

<%= paginate @account_versions%>

