<html><head>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style=" background: #EEEEEE; font:14px/20px 'Helvetica', Arial, sans-serif;">
  <tbody>
  <tr>
    <td style="padding: 30px 0;"><table cellspacing="0" cellpadding="0" width="650" align="center" border="0" style="background: #FFFFFF; border-radius: 10px">

        <tbody>
        <tr>
          <td style="padding: 0;">
            <table width="100%" style="background:#38a6cb; border-radius: 10px 10px 0 0">
              <tbody>
              <tr>
               <td width="1%" style=" padding: 10px 10px"></td>
                <td style="font-size:24px; color:#FFF; padding:10px;">
                  <%= image_tag("https://tradenaira.com/"+image_url("mailer.png").to_s, style: "width: 95px; height: 25px;") %>
                </td>
              </tr>
              </tbody>
          </table></td>
        </tr>
        <tr>
           <td style="border-top:none; padding:0px 30px 30px 30px; color: #666 ">
            <!--body-->
            <table width="100%">
              <tbody>
              <tr>
                <td>
                  <p>Dear <%= @closename %>,</p>
				  <table width="100%" style="border: 1px solid #ddd;border-collapse: collapse;">
					<tr style="border: 1px solid #ddd">
						<th rowspan=3 style="border: 1px solid #ddd"><p>USD/NGN</p></th>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getusdone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Bid Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getusdbidone %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getusdaskone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<th rowspan=3 style="border: 1px solid #ddd"><p>GBP/NGN</p></th>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getgbpone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Bid Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getgbpbidone %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getgbpaskone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<th rowspan=3 style="border: 1px solid #ddd"><p>EUR/NGN</p></th>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @geteurone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Bid Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @geteurbidone %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @geteuraskone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<th rowspan=3 style="border: 1px solid #ddd"><p>CNY/NGN</p></th>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getcnyone %></p></td>
					</tr>
					<tr style="border: 1px solid #ddd">
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Bid Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getcnybidone %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getcnyaskone %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%= raw @getghsaskone %></p></td>
					</tr>
                  </table>
              	</td>
              	</tr>
              	<tr>
              		<table width="100%">
              			<% @recent_posts.each do |post| %>
              			<% if post.meta_image %>
	              			<tr>
	              				<td>
	              					<% host = "https://tradenaira.com"  %>
	              					<%= image_tag(host+""+post.meta_image, style: "max-height: 100; max-width: 90px;") %>
	              				</td>
	              			</tr>
	              			<% end %>
              			<% end %>
              		</table>
              	</tr>
            </table>
                  <p><%= raw t("mailer.please_contact", contact_mail: ENV['SUPPORT_MAIL']) %>  </p>
                  <p><%= raw t('mailer.signature') %></p>
                </td>
              </tr>
              </tbody>
            </table>
            <!--body-->
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td style="padding:0 30px 20px; font-size: 13px; color: #999">
              <%= raw t('mailer.footer', contact_mail: ENV['SUPPORT_MAIL']) %><br>
              <%= link_to "Unsubscribe", unsubscribe_url(@member.email.gsub(".","*")) %>
            </td>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
