<html><head>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style=" background: #EEEEEE; font:14px/20px 'Helvetica', Arial, sans-serif;">
  <tbody>
  <tr>
    <td style="padding: 30px 0;"><table cellspacing="0" cellpadding="0" width="650" align="center" border="0" style="background: #FFFFFF; border-radius: 10px">

        <tbody>
        <tr>
          <td style="padding: 0;">
           <%= render "shared/emails/logo_template" %>
          </td>
        </tr>
        <tr>
           <td style="border-top:none; padding:0px 30px 30px 30px; color: #666 ">
            <!--body-->
            <table width="100%">
              <tbody>
              <tr>
                <td>
                  <p>Dear <%= @closename %>,</p>
				  <table width="100%" style="border: 
				  1px solid #ddd;border-collapse: collapse;">

				  <% @trades_all.each do |m| %>
				  	 
					<tr style="border: 1px solid #ddd">
						<th rowspan=1 style="border: 1px solid #ddd"><p>
							<%= raw m[:mname].upcase %></p></th>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
						<td style="padding:0 10px;"><p>
							<%= raw m[:trade] %></p></td>
					</tr>

					<!-- <tr style="border: 1px solid #ddd">
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Bid Price</p></td>
						<td style="padding:0 10px;"><p><%#= raw m[:bid_one] %></p></td>
					</tr>
					<tr>
						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Ask Price</p></td>
						<td style="padding:0 10px;"><p><%#= raw m[:ask_one] %></p></td>
					</tr> -->
					 
					<% end %>


                  </table>
              	</td>
              	</tr>
              	<tr>
              		<td>
	              		<table width="100%">
	              			<% @recent_posts.each do |post| %>
	              			<% if post.meta_image %>
		              			<tr class="col-md-2">
		              				<td>
                          <h5><%= link_to post.title, blogo_post_url(post) %></h5> 
		              					<% host = "https://tradenaira.com"  %>
		              					<%= link_to image_tag(host+""+post.meta_image, style: "max-height: 100px; max-width: 90px;"), blogo_post_url(post) %>
                            </td>
		              			</tr>
		              			<% end %>
	              			<% end %>
	              		</table>
              		</td>
              	</tr>
            </table>
                  <p><%= raw t("mailer.please_contact", contact_mail: ENV['SUPPORT_MAIL']) %>  </p>
                  <p><%= raw t('mailer.signature') %></p>
                </td>
              </tr>
              </tbody>
            </table>
            <!--body-->
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td style="padding:0 30px 20px; font-size: 13px; color: #999">
              <%= raw t('mailer.footer', contact_mail: ENV['SUPPORT_MAIL']) %><br>
              <%= link_to "Unsubscribe", unsubscribe_url(@member.email.gsub(".","*")) %>
            </td>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
