<html><head>
<table cellspacing="0" cellpadding="0" width="100%" align="center" border="0" style=" background: #EEEEEE; font:14px/20px 'Helvetica', Arial, sans-serif;">
  <tbody>
  <tr>
    <td style="padding: 30px 0;"><table cellspacing="0" cellpadding="0" width="650" align="center" border="0" style="background: #FFFFFF; border-radius: 10px">

        <tbody>
        <tr>
          <td style="padding: 0;">
           <%= render "shared/emails/logo_template" %>
          </td>
        </tr>
        <tr>
           <td style="border-top:none; padding:0px 30px 30px 30px; color: #666 ">
            <!--body-->
            <table width="100%">
              <tbody>
              <tr>
                <td>
              <!--     <p>Dear <%#= @closename %>,</p> -->
                <h4>We strive to bring you the most up to date exchange rates and business news in Nigeria</h4>
      				  <table width="100%" style="border: 
      				  1px solid #ddd;border-collapse: collapse;">
                <% @trades_all.each do |m| %>
      				  	 
        					<tr style="border: 1px solid #ddd">
        						<th rowspan=1 style="border: 1px solid #ddd"><p>
        							<%= raw m[:mname].upcase %></p></th>
        						<td style="border: 1px solid #ddd;padding:0 10px;"><p>Last Price</p></td>
        						<td style="padding:0 10px;"><p>
        							₦<%= raw m[:trade] %></p></td>
        					</tr>
      					<% end %>

                </table>
              	</td>
              	</tr>
              	<tr>
              		<td>
	              		<table width="100%">
	              		<h5> UP TO DATE NIGERIAN BUSINESS AND POLITICAL NEWS THAT MATTERS</h5>
	              			<% @recent_posts.each do |post| %>
	              			<% if post.meta_image %>
		              			<tr class="col-md-2">
		              				<td>
                          <h5><%= link_to post.title, blogo_post_url(post) %></h5> 
		              					<% host = "https://tradenaira.com"  %>
		              					<%= link_to image_tag(host+""+post.meta_image, style: "max-height: 100px; max-width: 90px;", width: '90px', height: '100px'), blogo_post_url(post) %>
                            </td>
		              			</tr>
		              			<% end %>
	              			<% end %>
	              		</table>
              		</td>
              	</tr>
              </table>
                  <p><%= raw t("mailer.please_contact", contact_mail: ENV['SUPPORT_MAIL']) %>  </p>
                  <p><%= raw t('mailer.signatures') %></p>
                </td>
              </tr>
              </tbody>
            </table>
            <!--body-->
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td style="padding:0 30px 20px; font-size: 13px; color: #999">
              <%= raw t('mailer.footer', contact_mail: ENV['SUPPORT_MAIL']) %><br>
              <%= link_to "Unsubscribe", unsubscribe_url(@member.email.gsub(".","*")) %>
            </td>
          </tr>
        </tfoot>
      </table>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
