<!-- money request received -->
<div class="col-md-24 back_wallet">
	    <a class="btn btn-default" href = "/funds">Click here to go back to wallet</a>
</div>
<% if @requests.present? %>
<div class="money_page">
<div class="panel">
	
	<div class="panel-title">
		<h4 class="title">All Incoming Money Request</h4>
	</div>
	<div class="panel-info">
		<table class="table">
			<thead>
				<tr>
					<td>#</td>
					<td>Date</td>
					<td>Request from</td>
					<td>Your balance</td>
					<td>Requested amount</td>
					<td>Actions</td>
				</tr>
			</thead>
			<% @requests.each do |me| %>
				<tbody>
					<tr>
						<td><%= me.id %></td>
						<td><%= me.created_at %></td>
						<td><%= me.sender.email %></td>
						<td><%= "#{me.receiver_account.balance}#{me.receiver_account.currency} " %></td>
						<td><%= me.amount %><%= me.account.currency %></td>
						<td>
							<% if me.receiver_account.balance < me.amount %>
							Deposit fund to accept request
							<% else %>
							<%= link_to "Accept", two_factor_money_path(me.id, "accept"), 
							class: "btn btn-default" %>
							<% end %>
							<%= link_to "Decline", two_factor_money_path(me.id,"decline"), 
							class: "btn btn-danger", data: {confirm: "Are you sure, decline the request!"} %>
			        	</td>
					</tr>
				</tbody>
			<% end %>
	  </table>
	</div>
</div>
<% end %>
<% if @escrows.present? %>
<div class="row">
	<div class="col-md-24">
		<div class="panel-title">
			<h4 class="title">Escrowed transactions</h4>
		</div>
	</div>
	<div class="col-md-24">
		<div class="row">
			<% @escrows.each do |es| %>
				<div class="col-md-6">
					<div class="card" style="height: 430px; overflow-y: scroll; 
					overflow-x: hidden; ">
					  <div class="card-body">
					  	<p class="get_status">Escrow status: <%= es.get_status %></p>
					    <h5 class="card-title">Date: <%= es.created_at %></h5>
					    <p class="card-text">Item name: <%= es.item_name %></p>
					    <p class="card-text">Item Description: <%= es.descriptions %></p>
					    <p class="card-text">your role: 
					    	<b class="up"><%= es.user_role(current_user.email) %></b>
					    </p>
					    <p class="card-text">Seller: <%= es.seller_email %></p>
					    <p class="card-text">Buyer: <%= es.buyer_email %></p>
					    <% if broker = es.broker %>
					    <p class="card-text">Broker: <%= broker.email %></p>
					    <% end %>
					    <p class="card-text">
					    	Escrowed Amount: 
					    	<b>
					    	<%= es.tn_amount %><%= es.tn_currency.upcase if es.tn_currency  %>
					    	</b>
					    </p>
					    <p class="card-text">
					    	Shipping:
					    	 <b><%= es.shipping_amount %><%= es.shipping_currency.upcase %></b>
					    </p>
					    <p>Grand Total: <b>
					    	<% if es.shipping_currency == es.tn_currency %>
					    		<%= es.tn_amount+es.shipping_amount %><%= es.shipping_currency.upcase %>
					    	<% else %>
					    	<%= es.tn_amount %><%= es.tn_currency.upcase if es.tn_currency  %>
					    	+
					    	<%= es.shipping_amount %><%= es.shipping_currency.upcase %></b>
					    	<% end %>
					    </b></p>
					    <p class="card-text">
					    	Fee payer: <b class="up"><%= es.fee_payer %></b>
					    </p>

					    <div class="es-success" id="success-<%= es.id %>"></div>
					  	<div class="es-errors" id="errors-<%= es.id %>"></div>

					    <% if es.is_user_amount_payer?(current_user) && es.status == "1" %>
						    <% if es.has_tn_amount? current_user %>
								<p>
									<%= link_to "Approve", "#", class: "btn btn-default",
									onclick: "return manage_escrow(#{es.id}, 'accept', this)" %>
									<%= link_to "Decline", "#", class: "btn btn-danger" %>
								</p>
							<% else %>	
							<%= link_to "Approve", "#", class: "btn btn-default", disabled: true %>
							<%= link_to "Decline", "#", class: "btn btn-danger",
							onclick: "return manage_escrow(#{es.id}, 'decline', this)" %>
							<p class="error" style="font-size: 10px">To approve this transaction please add balance in your account.</p>
							<% end %>
						<% end %>


					    <!-- 
					    <a class="card-link">Another link</a> -->
					  </div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
<% end %>
<!-- money requests sent -->
<% if @requests_sent_you.present? %>
<div class="panel">
	<div class="panel-title">
		<h4 class="title">Money Requests sent by you</h4>
	</div>
	<div class="panel-info">
		<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Date</td>
				<td>Send Money to</td>
				<td>Amount</td>
				<td>Status</td>
			</tr>
		</thead>
		<% @send_money.each do |me| %>
		<tbody>
			<tr>
				<td>#<%= me.id %></td>
				<td><%= me.created_at %></td>
				<td><%= me.sent_on_email %></td>
				<td><%= me.amount %><%= me.account.currency %></td>
				<td>
					<% case me.status %>
					<% when "active" %>
						<span>Wating to accepted by receipent</span>
					<% when "accepted_by_receipent" %>
						<span>Waiting for admin approval</span>
					<% when "approved" %>
						<span>Receive Success</span>	
					<% when "declined_by_receipent" %>
						<span>Declined by receipent</span>	
						<% when "declined" %>
						<span>Declined by admin</span>	
					<% else  %>
					<span>In complete request</span>
					<% end %>
				</td>
			</tr>
		</tbody>
		<% end %>
		</table>	
	</div>
</div>
<% end %>

<!-- money sent -->
<% if @send_money.present? %>
<div class="panel">
	<div class="panel-title">
		<h4 class="title">Sent Money Logs</h4>
	</div>
	<div class="panel-info">
		<table class="table">
		<thead>
			<tr>
				<td>#</td>
				<td>Date</td>
				<td>Send Money to</td>
				<td>Amount</td>
				<td>Status</td>
				 
			</tr>
		</thead>
		<% @send_money.each do |me| %>
		<tbody>
			<tr>
				<td>#<%= me.id %></td>
				<td><%= me.created_at %></td>
				<td><%= me.sent_on_email %></td>
				<td><%= me.amount %><%= me.account.currency %></td>
				<td>
					<% case me.status %>
					<% when "active" %>
						<span>Wating for admin approval</span>
					<% when "approved" %>
						<span>Sent Success</span>	
					<% when "declined" %>
						<span>Declined by admin</span>	
					<% end %>
				</td>
			</tr>
		</tbody>
		<% end %>
		</table>	
	</div>
</div>
</div>
<% end %>
