
<div class="blog_top_bar">
<div class="container">
  <div class="top_max_width">
  <div class="left_top_bar">
  <h3 class="blue_heading"><%= link_to Blogo.config.site_title, blogo_root_path %></h3>
  </div>
  <div class="right_top_bar">
    <p><%= Blogo.config.site_subtitle %></p>
     
  
  </div>
</div>
</div>
</div>



<% unless @paginator.nil?%>
<!-- blog listing wraper Section start here -->
<div class="blog_listing">
  <div class="container">
    <div class="blog_wraper overflow-css">
        <div class="uploadimage text-center banner-wrap-top">
 
            <% banner = rand_banner(:news_home_top) %>
            <%# if Blogo.news_home_top.present? %>
            <% unless banner.nil? %>
            <%=link_to image_tag(banner.image.url, width: 728, height: 90, 
            class: "banner top_banner", alt: banner.title, title: banner.title) , banner.target_link, target: "_blank" %>

                <% unless banner.settings.nil? %>
                  <div class="advert-banner">
                    <%= raw banner.settings %>
                  </div>
                <% end %>

            <%  end %>
              
            </div>
        <div class="blog_left_listng">
           <div class="blog_main_post">
              <div class="main_post_img">
                <img src="/assets/img/blog1.png" alt="blog1">
              </div>
              <div class="main_post_heading">
                <h4><a href="#">Up to date Busniess and Political News that Matters.</a></h4>
              </div>
              
           </div>
           <div class="blog_post_listing">
               
            <ul class="blog_listing_ul">
              <% @paginator.items.each do |post| %>  
              <li>
                <div class="post_listing_img">
                   <%= image_tag post.meta_image %>
                </div>
                <div class="post_listing_content">
                  <h5><%= link_to post.title, blogo_post_path(post) %></h5>
                    <div class="post_wrap_content"><p><%= raw (post_overview(post)[0,130]).gsub(/<\/?[^>]*>/, "") %></p></div>
                  <span class="author_address">  <% post.tag_names.each do |tag_name| %>
              <%= link_to tag_name, blogo_tag_path(tag_name), class: 'tag pure-button button-secondary' %>
            <% end %>
         </span>
                  <span class="post_date"><time datetime="<%= post.published_at %>">
              <%= I18n.localize(post.published_at.to_date, format: :long) %>
            </time></span>
                </div>

              </a>
            </li>

 
           <% end %>
            </ul>
              
           </div>
           
<ul class="pure-paginator paginator">
  <% if @paginator.prev_page %>
    <% prev_link = path_to_page(@paginator.prev_page, @tag) %>
    <li> <a class="pure-button prev" href="<%= prev_link %>">&#171;</a> </li>
  <% end %>
  <% @paginator.pages.each do |page| %>
    <% page_class = 'pure-button' %>
    <% page_class << ' pure-button-active' if @paginator.page == page %>

    <li><%= link_to page, path_to_page(page, @tag), class: page_class %></li>
  <% end %>
  <% if @paginator.next_page %>
    <% next_link = path_to_page(@paginator.next_page, @tag) %>
    <li><a class="pure-button prev" href="<%= next_link %>">&#187;</a></li>
  <% end %>
</ul>
<% end %>
</div>


<!-- sidebar start here -->

<div class="blog_side_bar">

<div class="search_bx">
  <span class="bor_span">Search</span>
 <%= form_for(search_article,url: blogo_search_path, html: { class: "search_blog"}) do |f|%>
  <%= f.text_field :title %>
  <%= f.submit 'Search',class: "btn1" %>
<% end %>

</div>
 
    <% if @recent_posts %>
<div class="new_post">
   <span class="border_span">New posts</span>
  <ul> 
     <% @recent_posts.first(5).each do |post| %>
    <li>
      <div class="side_post_img">
       <%= image_tag post.meta_image %>
        
      </div>
      <div class="side_post_heading">
        <h5> <%= link_to post.title, blogo_post_path(post) %></h5>
        <p><time datetime="<%= post.published_at %>">
          <%= I18n.localize(post.published_at.to_date, format: :long) %>
        </time> </p>

      </div>

    </li>

  <% end %>
    </ul>
  <% end %>
</div>

<div class="side_uploadimg text-center banner-wrap-side">

    <% banner = rand_banner(:news_home_side) %>
    <%# if Blogo.news_home_top.present? %>
    <% unless banner.nil? %>
    <%=link_to image_tag(banner.image.url, width: 300, height: 600, 
    class: "banner side_banner", alt: banner.title, title: banner.title), banner.target_link, target: "_blank" %>

    <% unless banner.settings.nil? %>
      <div class="advert-banner">
        <%= raw banner.settings %>
      </div>
    <% end %>

    <%  end %>
 
</div>

<div class="tag_list">
<span class="border_span"><%= t('blogo.user.tags') %></span>
  <ul class="tags1">
    <li>
    <% @tags.each do |tag| %>
      <%= link_to tag.name, blogo_tag_path(tag), class: 'tag pure-button button-secondary' %>
    <% end %>
  </li>
  </ul>


  </div>



</div>

<!-- sidebar End here -->



</div>
</div>
</div>

