<% unless current_user.nil?  %>
<%= javascript_include_tag "tradeniara" %>
<%= stylesheet_link_tag "style2", media: "all" %>
<div class="money-form-wrapper">
	<div class="globalerros"></div>
	<div class="sentsuccess"></div>
	<div class="row back_to_wallet" style="display: none;">
	    	<div class="col-md-24">
	    		<a class="btn btn-default" href = "/funds">Click here to go back to wallet</a>
	    	</div>
	    </div>
	<div class="wait-section" style="display: none;"></div>
	<div class="col-md-24">
		<div class="twofectorauth"></div>
	</div>

<%= form_for(current_user, url: "/money/request", html: { onsubmit: "return SendMoney(this)", 
class: "sendmenyform", data: { actionfor: "request" } }) do |f| %>
		<%= f.hidden_field :currency %>
		<%= hidden_field_tag "member[action_as]","init" %>
		<div class="form_row overflw">
	        <div class="full_width ">
	        	<p class="mailerr"></p>
	         	<img class="email_ico" src="/assets/img/email.png" alt="email"> 
	        	<%= f.email_field :email, placeholder: "E-mail Address",value: "",
	        	onchange: "checkEmailf(this)"  %>
	        </div>
        </div>  

        <div class="form_row">
	        <div class="full_width">
	            <label>Select Currency from Request money</label>
	            <% accounts = current_user.accounts %>
	            <% if accounts.present? %>
	            <div class="dropdown">
	            	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            		Select Currency
  					</button>
  					<div class="dropdown-menu">
	            	<% accounts.each do |a| %> 
		            <% unless a.currency.nil? %>
			            <a href="#" class="dropdown-item" 
			            	data-id="<%= a.id %>"
			            	data-currency="<%= a.currency %>"
			            	onClick="return requestMoenyCurrecy(this)">
			             	<%= image_tag "/icon-#{a.currency}.png" %>
			             	 <%#= a.balance   %>
			             	 <%= a.currency %>
			            </a>
		             <% end %>
	            	<% end %>
	            	</div>
	            </div>
	            <% else %>
	            <p>Your account is empty.</p>
	            <% end %>
	        </div>  
	        <div class="pricebox" style="display: none;">
	        	<div class="currencybox"></div>
	        	<%= f.text_field :amount_to_send, onchange: "checkAmount(this)",
	        	placeholder: "Amount to request" %>
	        	<p class="amterr"></p>
	        	<div class="col-md-24">
	        		<%= f.text_field :notes, placeholder: "Reason for request(Max 50 characters)", 
	        		class: "form-control", onkeyup: "return filterNotes(this)"  %>
	        	</div>
	        </div> 
    	</div>
    	<div class="form_row">
    		<div class="full_width">
    			<br />
	        <button style="display: none;" class="btn5 sendmoneybtn" type="submit">
	        	Send request
	        </button> 
	    	</div>
	    </div>
<% end %>

</div>
<% else %>
<div class="form_row overflw">
	        <div class="full_width ">
	         	<p>Please <%= link_to "Login", signin_path %> to send/receive money.</p>
	        </div>
        </div> 
<% end %>