<% unless current_user.nil?  %>
<%= javascript_include_tag("moneyexchange") %>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $(window).load(function(){
      $.ajax({
        type: "post",
        url: "<%= gen_address_funds_path %>"
      })
    });
  </script>
<% end %>
<!-- <div ng-app="money">
	<div ng-controller = "exChangeController">

	<ui-view>
 
	 <ng-include src="'/templates/funds/_two_factor_auth.html'"></ng-include>  
	 	 
	</ui-view>
	</div>
</div> -->
 
<div class="money-form-wrapper">
	<div class="globalerros"></div>
	<div class="sentsuccess"></div>
	<div class="wait-section" style="display: none;"></div>
	<div class="col-md-24">
		<div class="twofectorauth"></div>
	</div>

<%= form_for(current_user, url: "/money/send", html: { onsubmit: "return SendMoney(this)", 
class: "sendmenyform" }) do |f| %>
		<%= f.hidden_field :currency %>
		<%= hidden_field_tag "member[action_as]","init" %>
		<div class="form_row overflw">
	        <div class="full_width ">
	        	<p class="mailerr"></p>
	         	<img class="email_ico" src="/assets/img/email.png" alt="email"> 
	        	<%= f.email_field :email, placeholder: "E-mail Address",value: "",
	        	onchange: "checkEmailf(this)"  %>
	        </div>
        </div>  

        <div class="form_row">
	        <div class="full_width">
	            <label>Select Currency to send</label>
	            <div class="dropdown">
	            	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	            		Select Currecy
  					</button>
  					<div class="dropdown-menu">
	            	<% current_user.accounts.where("balance > 0").each do |a| %> 
		            <% unless a.currency.nil? %>
			            <a href="#" class="dropdown-item" 
			            	data-id="<%= a.id %>"
			            	data-currency="<%= a.currency %>"
			            	onClick="return sndMoenyCurrecy(this)">
			             	<%= image_tag "/icon-#{a.currency}.png" %>
			             	 <%= a.balance   %>
			            </a>
		             <% end %>
	            	<% end %>
	            	</div>
	            </div>
	        </div>  
	        <div class="pricebox" style="display: none;">
	        	<div class="currencybox"></div>
	        	<%= f.text_field :amount_to_send, onchange: "checkAmount(this)",
	        	placeholder: "Amount to send" %>
	        	<p class="amterr"></p>
	        </div> 
    	</div>
    	<div class="form_row">
    		<div class="full_width">
	        <button style="display: none;" class="btn5 sendmoneybtn" type="submit">
	        	Send
	        </button> 
	    	</div>
	    </div>
<% end %>

</div>
<% else %>
<div class="form_row overflw">
	        <div class="full_width ">
	         	<p>Please <%= link_to "Login", signin_path %> to send/receive money.</p>
	        </div>
        </div> 
<% end %>