<!DOCTYPE html>
<html>
  <head>
    <title>TradeNAIRA </title>
      <%= csrf_meta_tags %>
      <%= include_gon %>
      <link rel="shortcut icon" href="#" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto|Baloo|Nunito" rel="stylesheet">
      <%= stylesheet_link_tag    'kickstart', media: 'all' %>
      <%= stylesheet_link_tag "style2" %>
      <%= stylesheet_link_tag "application" %>

      <%= javascript_include_tag 'action_cable' %>
      <%= javascript_include_tag 'cable' %>
      <%= javascript_include_tag 'bundle' %>
      <%= javascript_include_tag 'tradeniara' %>


      <% unless current_user.nil? %> 
      <%= javascript_include_tag 'sr_noti' %>
      <% else %>
        <style type="text/css">
          .srnotification{
            display:none!important;
          }
        </style>
      <% end %>
      <!--Start of Zendesk Chat Script--> <script type="text/javascript"> window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s= d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set. _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8"); $.src="https://v2.zopim.com/?64PkgLEiFf0LIMM36Kx644dkOj6ByT1e";z.t=+new Date;$. type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");

    </script>

  </head>
      <div class ="header_height">
      <header class="site-main-header sanc homepage">
        <div class="main-header">
          <div class="container">
          <div class="header_top_right mobile-view bell">
                    <ul class="home_head tophead">
                    <% if current_user && controller_name == 'markets'%>
                     <%= render 'shared/header_account_balance' %>
                     <% end %>
                     <% if current_user %>
                      <%= render 'shared/header_profile_setting' %> 
                      <% end %>
                      <% unless current_user %>
                      <li><a href="/signup" target=""><i class="fa fa-"></i><span>Register</span></a></li>
                      <li><a href="/signin" target=""><i class="fa fa-sign-in"></i><span>Login</span></a></li>  
                      <% end %>   
                      <li class="language-div"> <a href="#"> EN</a></li>
                    </ul>
               </div>
            <div class="main-header-row">
              <div class="logo-div"><a class="logo" href="/"><img class="home_logo" src="/assets/transparent_logo2.png" /></a></div>
              <div class="main-navbar-header">
                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <div class="center-menu">
                    <ul>
                     <!--  <li><a>BUSINESS</a></li>
                      <li><a>PERSONAL</a></li> -->
                      <li><a href="/news">BUSINESS NEWS</a></li>
                 <!--      <li><a href="/pages/projectfunding">PROJECT FUNDING </a></li> -->
                      <li><a href="/pages/tradeservices">TRADE SERVICES</a></li>
                     
                    </ul>
                  </div>
                </div>
              </div>
              
             

              <div class="header_top_right">
                      <ul class ="nav navbar-nav notification_bell">
                        <li class ="srnotification">
                          <div class="nav-ball">
                            <i class ="fa fa-bell"></i>
                            <span class ="ncntr"></span>
                            <div class ="notificationbar" style ="display:none;"></div>
                          </div>
                        </li>
                     </ul>
                    <ul class="home_head tophead">
                      <% if current_user && controller_name == 'markets'%>
                       <%= render 'shared/header_account_balance' %>
                       <% end %>
                       <% if current_user %>
                        <%= render 'shared/header_profile_setting' %> 
                        <% end %>
                        <% unless current_user %>
                        <li><a href="/signup" target=""><i class="fa fa-"></i><span>Register</span></a></li>
                        <li><a href="/signin" target=""><i class="fa fa-sign-in"></i><span>Login</span></a></li>  
                        <% end %>   
                        <li class="language-div"> <a href="#"> EN</a></li>
                    </ul>
               </div>
            </div>
          </div>
        </div>
      </header>
      </div>

  <body>

    <script>
    $(function(){
      $("body").on("click", ".js-modal-open", function(event){
        event.preventDefault();
        $(".modal").addClass("is-open");
        $(".modal-input-box").focus();
      });

      $("body").on("click", ".js-modal-close", function(event){
        event.preventDefault();
        $(".modal").removeClass("is-open");
      });

      $("body").on("click", ".js-modal2-open", function(event){
        event.preventDefault();
        $(".modal2").addClass("is-open");
        $(".modal2").css({ position: "absolute"})
        $(".pledge-input").focus();
      });

      $("body").on("click", ".js-modal2-close", function(event){
        event.preventDefault();
        $(".modal2").removeClass("is-open");
      });

      $("body").on("click", ".js-modal3-open", function(event){
        event.preventDefault();
        $(".modal3").addClass("is-open");
        $(".modal3").css({ position: "absolute", top: event.pageY})
        $(".pledge-input").focus();
      });

      $("body").on("click", ".js-modal3-close", function(event){
        event.preventDefault();
        $(".modal3").removeClass("is-open");

      });

      $("body").on("click", ".js-modal-login-open", function(event){
        event.preventDefault();
        $(".modal-login").addClass("is-open");
          $(".modal-login").css({ position: "absolute"})
      });

      $("body").on("click", ".js-modal-login-close", function(event){
        event.preventDefault();
        $(".modal-login").removeClass("is-open");
      });

      $("body").on("click", ".js-modal-dropdown-open", function(event){
        event.preventDefault();
        $(".modal-dropdown").addClass("is-open");
      });

      $("body").on("click", ".js-modal-dropdown-close", function(event){
        event.preventDefault();
        setTimeout($(".modal-dropdown").removeClass("is-open"),1000);
      });
    });

    </script>

    <%= yield %>

      <%= render 'shared/footer' %>
  </body>
</html>
